.loader {
	text-align: center;
	margin: 100px 0;

	span {
		height: 4px;
		width: 4px;
		background: #fff;
		display: inline-block;
		margin: 12px 2px;
		border-radius: 100%;
		animation: loader 4s infinite;
		animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
		animation-fill-mode: both;
	}

	span:nth-of-type(1) {
		animation-delay: 1s;
	}

	span:nth-of-type(2) {
		animation-delay: 0.8s;
	}

	span:nth-of-type(3) {
		animation-delay: 0.6s;
	}

	span:nth-of-type(4) {
		animation-delay: 0.4s;
	}

	span:nth-of-type(5) {
		animation-delay: 0.2s;
	}

	span:nth-of-type(6) {
		animation-delay: 0;
	}
}

@keyframes loader {
	0% {
		transform: translateX(-30px);
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	50% {
		transform: translateX(30px);
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}
